<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>صفحه داشبورد</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename = 'styles.css') }}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">صفحه اصلی</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4"></ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">صفحات</div>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                داشبورد
                            </a>
                            <a class="nav-link" href="/logout">
                                <div class="sb-nav-link-icon"><i class="fas fa-sign-out"></i></div>
                                خروج
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">داشبورد</h1><br>
                        {% include('show_flashed_messages.html') %}
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">مجموع خمس تمامی داشته ها</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white" style="text-decoration: none; direction: rtl;">{{ total_khoms }} تومان</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">تعداد تمامی داشته ها</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white" style="text-decoration: none; direction: rtl;">{{ number_of_haves }} تا</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">تعداد داشته ها از نوع کالا</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white" style="text-decoration: none; direction: rtl;">{{ number_of_commodities }} تا</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">تعداد داشته ها از نوع پول</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white" style="text-decoration: none; direction: rtl;">{{ number_of_moneys }} تا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                {% if show_form == 'edit_have' %}
                                    <i class="fas fa-edit"></i>
                                    ویرایش داشته
                                {% else %}
                                    <i class="fas fa-plus"></i>
                                    افزودن داشته
                                {% endif %}
                            </div>
                            <div class="card-body">
                                {% if show_form == 'edit_have' %}
                                    <form action="/update-have/{{ have_row_for_edit[0] }}" method="POST" style="direction: rtl;">
                                        <input type="text" name="name" class="form-control" placeholder="نام" value="{{ have_row_for_edit[1] }}"><br><br>
                                        <select name="type" class="form-control">
                                            {% if have_row_for_edit[2] == 'commodity' %}
                                                <option value="commodity" selected>کالا</option>
                                                <option value="money">پول</option>
                                            {% elif have_row_for_edit[2] == 'money' %}
                                                <option value="commodity">کالا</option>
                                                <option value="money" selected>پول</option>
                                            {% endif %}
                                        </select><br><br>
                                        <input type="hidden" name="user_id" value="{{ user_id }}">
                                        <input type="number" name="total_price" class="form-control" placeholder="قیمت کلی (تومان)" value="{{ have_row_for_edit[4] }}"><br><br>
                                        {% if have_row_for_edit[5] %}
                                            <input type="number" name="remaining_amount" class="form-control" placeholder="مقدار باقی مانده (به کیلو)" value="{{ have_row_for_edit[5] }}"><br><br>
                                        {% else %}
                                            <input type="number" name="remaining_amount" class="form-control" placeholder="مقدار باقی مانده (به کیلو)" value="{{ have_row_for_edit[5] }}"><br><br>
                                        {% endif %}
                                        <input type="submit" value="ویرایش" class="btn btn-warning" style="color: white;">
                                    </form>
                                {% else %}
                                    <form action="/add-have-for-user" method="POST" style="direction: rtl;">
                                        <input type="text" name="name" class="form-control" placeholder="نام"><br><br>
                                        <select name="type" class="form-control">
                                            <option value="is_null">نوع داشته خود را وارد کنید</option>
                                            <option value="commodity">کالا</option>
                                            <option value="money">پول</option>
                                        </select><br><br>
                                        <input type="hidden" name="user_id" value="{{ user_id }}">
                                        <input type="number" name="total_price" class="form-control" placeholder="قیمت کلی (تومان)"><br><br>
                                        <input type="number" name="remaining_amount" class="form-control" placeholder="مقدار باقی مانده به کیلو (این مقدار فقط باید برای کالا وارد شود.)"><br><br>
                                        <input type="submit" value="ثبت" class="btn btn-success">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                داشته ها
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ردیف</th>
                                            <th>نام</th>
                                            <th>نوع</th>
                                            <th>قیمت اصلی</th>
                                            <th>مقدار باقی مانده (کیلو)</th>
                                            <th>جمع قیمت ها</th>
                                            <th>خمس مربوط به این داشته (تومان)</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for have in haves %}
                                            <tr>
                                                <td>{{ have }}</td>
                                                <td>{{ haves[have][1] }}</td>
                                                <td>
                                                    {% if haves[have][2] == 'commodity' %}
                                                        کالا
                                                    {% elif haves[have][2] == 'money' %}
                                                        پول
                                                    {% endif %}
                                                </td>
                                                <td>{{ haves[have][4] }}</td>
                                                <td style="direction: rtl;">
                                                    {% if not haves[have][5] %}
                                                        ---
                                                    {% else %}
                                                        {{ haves[have][5] }}
                                                    {% endif %}
                                                </td>
                                                <td>{{ haves[have][7] }}</td>
                                                <td>{{ haves[have][6] }}</td>
                                                <td>
                                                    <a href="/?edit-have={{ haves[have][0] }}" class="btn btn-warning" style="color: white;">ویرایش</a>
                                                    <button onclick="if(confirm('آیا از حذف این داشته مطمئن هستید؟')){window.location.href = '/delete-have/{{ haves[have][0] }}';}" class="btn btn-danger">حذف</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename = 'scripts.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename = 'datatables-simple-demo.js') }}"></script>
    </body>
</html>
